# Views and describes the data, before much processing.

In [7]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
import restaurants_timeseries.core as core

import seaborn as sns

In [11]:
core.data['visits']

In [31]:
class VisitSummarizer:
    def __init__(self, visits: core.pd.DataFrame):
        self.visits = visits
        self.assign_never_visited()
        
    def assign_never_visited(self):        
        self.counts = self.visits.groupby('air_store_id').visitors.sum()
        self.never_visited = self.counts[self.counts == 0]
        
    def make_report(self):
        print("The visits data looks like this:")
        display(self.visits.head())
        print(f"There are {len(self.counts)} stores.")
        print(f"{len(self.never_visited)} stores had no visits ever.")
        
vs = VisitSummarizer(visits)

In [32]:
vs.make_report()

The visits data looks like this:

,air_store_id,air_genre_name,air_area_name,latitude,longitude,visit_date,day_of_week,holiday_flg,visitors
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2016-01-01,Friday,1,0
1,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2016-01-02,Saturday,1,0
2,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2016-01-03,Sunday,1,0
3,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2016-01-04,Monday,0,0
4,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2016-01-05,Tuesday,0,0

There are 829 stores.
0 stores had no visits ever.

In [25]:
summarize_visits(core.data['visits'])

In [26]:
core.data['visits']

                air_store_id  visit_date  visitors
0       air_ba937bf13d40fb24  2016-01-13        25
1       air_ba937bf13d40fb24  2016-01-14        32
2       air_ba937bf13d40fb24  2016-01-15        29
3       air_ba937bf13d40fb24  2016-01-16        22
4       air_ba937bf13d40fb24  2016-01-18         6
...                      ...         ...       ...
252103  air_24e8414b9b07decb  2017-04-18         6
252104  air_24e8414b9b07decb  2017-04-19         6
252105  air_24e8414b9b07decb  2017-04-20         7
252106  air_24e8414b9b07decb  2017-04-21         8
252107  air_24e8414b9b07decb  2017-04-22         5

[252108 rows x 3 columns]