In [9]:
from restaurants_timeseries.core import data

In [10]:
data

{'visits':                 air_store_id  visit_date  visitors
 0       air_ba937bf13d40fb24  2016-01-13        25
 1       air_ba937bf13d40fb24  2016-01-14        32
 2       air_ba937bf13d40fb24  2016-01-15        29
 3       air_ba937bf13d40fb24  2016-01-16        22
 4       air_ba937bf13d40fb24  2016-01-18         6
 ...                      ...         ...       ...
 252103  air_24e8414b9b07decb  2017-04-18         6
 252104  air_24e8414b9b07decb  2017-04-19         6
 252105  air_24e8414b9b07decb  2017-04-20         7
 252106  air_24e8414b9b07decb  2017-04-21         8
 252107  air_24e8414b9b07decb  2017-04-22         5

 [252108 rows x 3 columns],
 'store_info':              air_store_id         air_genre_name  \
 0    air_0f0cdeee6c9bf3d7         Italian/French
 1    air_7cc17a324ae5c7dc         Italian/French
 2    air_fee8dcf4d619598e         Italian/French
 3    air_a17f0778617c76e2         Italian/French
 4    air_83db5aff8f50478e         Italian/French
 ..                    ...                    ...
 824  air_9bf595ef095572fb  International cuisine
 825  air_764f71040a413d4d                  Asian
 826  air_10bbe8acd943d8f6                  Asian
 827  air_7514d90009613cd6          Karaoke/Party
 828  air_c8fe396d6c46275d          Karaoke/Party

                              air_area_name   latitude   longitude
 0             Hyōgo-ken Kōbe-shi Kumoidōri  34.695124  135.197852
 1             Hyōgo-ken Kōbe-shi Kumoidōri  34.695124  135.197852
 2             Hyōgo-ken Kōbe-shi Kumoidōri  34.695124  135.197852
 3             Hyōgo-ken Kōbe-shi Kumoidōri  34.695124  135.197852
 4             Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599
 ..                                     ...        ...         ...
 824            Tōkyō-to Shibuya-ku Shibuya  35.661777  139.704051
 825            Tōkyō-to Shibuya-ku Shibuya  35.661777  139.704051
 826            Tōkyō-to Shibuya-ku Shibuya  35.661777  139.704051
 827  Hokkaidō Sapporo-shi Minami 3 Jōnishi  43.055460  141.340956
 828  Hokkaidō Sapporo-shi Minami 3 Jōnishi  43.055460  141.340956

 [829 rows x 5 columns],
 'reservations':                air_store_id       visit_datetime     reserve_datetime  \
 0      air_877f79706adbfb06  2016-01-01 19:00:00  2016-01-01 16:00:00
 1      air_db4b38ebe7a7ceff  2016-01-01 19:00:00  2016-01-01 19:00:00
 2      air_db4b38ebe7a7ceff  2016-01-01 19:00:00  2016-01-01 19:00:00
 3      air_877f79706adbfb06  2016-01-01 20:00:00  2016-01-01 16:00:00
 4      air_db80363d35f10926  2016-01-01 20:00:00  2016-01-01 01:00:00
 ...                     ...                  ...                  ...
 92373  air_db4b38ebe7a7ceff  2017-05-29 18:00:00  2017-04-17 19:00:00
 92374  air_1033310359ceeac1  2017-05-30 23:00:00  2017-04-19 17:00:00
 92375  air_877f79706adbfb06  2017-05-31 20:00:00  2017-04-12 23:00:00
 92376  air_900d755ebd2f7bbd  2017-05-31 20:00:00  2017-04-19 16:00:00
 92377  air_3cad29d1a23209d2  2017-05-31 21:00:00  2017-04-22 10:00:00

        reserve_visitors
 0                     1
 1                     3
 2                     6
 3                     2
 4                     5
 ...                 ...
 92373                 6
 92374                 8
 92375                 3
 92376                10
 92377                 3

 [92378 rows x 4 columns],
 'date_info':     calendar_date day_of_week  holiday_flg
 0      2016-01-01      Friday            1
 1      2016-01-02    Saturday            1
 2      2016-01-03      Sunday            1
 3      2016-01-04      Monday            0
 4      2016-01-05     Tuesday            0
 ..            ...         ...          ...
 512    2017-05-27    Saturday            0
 513    2017-05-28      Sunday            0
 514    2017-05-29      Monday            0
 515    2017-05-30     Tuesday            0
 516    2017-05-31   Wednesday            0

 [517 rows x 3 columns]}